  /* parallax */

.parallax {
    background-image: 
    url("https://source.unsplash.com/random/600x601");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.filtro {
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}