  /* seccion */

.caja {
    text-align:center;
    padding: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}
.a {
    background-color: #449DD1;
}
.b {
    background-color: #23CE6B;
}
  
.c {
    background-color: #FF6201;
}

.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
}
  
@media(max-width: 900px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
@media(max-width: 700px) {
    .grid {
      grid-template-columns: 1fr;
    }
}